/* ========== REINICIO DE ESTILOS ==========*/ 

*{

    margin: 0;
    padding: 0;

}

body{

    background: linear-gradient(105deg, rgba(168, 40, 119, 0.7), rgba(28, 77, 13, 0.7));
    background-attachment: fixed;

}




/* ========== ALMANAQUE ==========*/

.almanaque {
    background-color: #fdf5e6; /* Color papel viejo */
    border: 4px double #5d4037;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace; /* Estilo máquina de escribir */
}

.rareza.mutado {
    color: #9c27b0; /* Púrpura para rareza especial */
    font-weight: bold;
}

