
/* estilos de las ventanas */

.ventana{

    width: 85%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-out;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;

}


/* Ventanas por defecto */

.ventana{

    background: linear-gradient(135deg, rgba(10,20,30, 0.85), rgba(2, 21, 43, 0.85));
    border-top: 1px solid #00ffff;
    border-right: 4px double #00ffff;
    border-bottom: 4px double #00ffff;
    border-left: 1px solid #00ffff;
    box-shadow: 0 0 15px rgba(0,255,255,0.5);
    backdrop-filter: blur(2px);
    line-height: 1.35;

}

.ventana .titulo{

    font-size: 1.5em;
    color: #00ffff;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #00ffff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    letter-spacing: 3px;


}

.ventana p{

    font-family: monospace, 'Consolas', 'Courier New';
    font-size: 0.9em;
    margin: 10px 0;

}

.ventana:hover, .ventanaL:hover{

    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(13, 240, 221, 0.7);

}

/* ======= ventana de advertencia ======= */ 

.advertencia{

    animation: pulso-error 2s infinite;
    background: linear-gradient(135deg, rgba(255,0,0,0.4), rgba(139, 0, 0, 0.8));
    border: 2px solid #ff4b2b;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.7);
    color: white;

}

.advertencia h3{
    color: #ffcc00;
    border-bottom-color: #ffcc00;
    font-size: 1.8rem;
    
}



/* animaciones */

@keyframes pulso-error{

    0%{
        box-shadow: 0 0 5px #ff4b2b;
    }

    50%{
        box-shadow: 0 0 25px #ff4b2b;
    }

    100%{
        box-shadow: 0 0 5px #ff4b2b;
    }



}

.aparecer {

    opacity: 1;
    transform: translateY(0);
}