/* ========== REINICIO DE ESTILOS ==========*/ 

*{

    margin: 0;
    padding: 0;

}

body{

    background: linear-gradient(135deg, rgba(168, 40, 119, 0.7), rgba(28, 77, 13, 0.7), rgba(255, 255, 255, 0.2));
    background-attachment: fixed;
    font-family: "Comic Sans";
    color: rgb(9, 54, 3);
    min-height: 100vh;

}

header{

    text-align: center;
    letter-spacing: 3px;
    font-size: 1.5em;
    margin-bottom: 10px;

}

article{

    text-align: center;
    height: 80%;
    margin:auto;
    margin-bottom: 30px;
    border: 2px solid #351911;
    border-radius: 15px;

}

.entrada{

    text-align: center;
    padding: 0;

}

.mutado {
    color: #831097;
    font-weight: bold;
}

